doctype html
html
  head

    meta(charset="UTF-8")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
    title Painel

    link(rel="stylesheet" href="index.css")

  body(ng-app="main" ng-controller="MainController")

    div#index

    //- Angular
    script(type="text/javascript" src="lib/angular/angular.min.js")

    //- Core module
    script(type="text/javascript" src="core/core.module.js")

    //- Main module
    script(type="text/javascript" src="main.module.js")
    script(type="text/javascript" src="main.config.js")
    script(type="text/javascript" src="main.controller.js")
